body, #navContent {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-color: #0a192f;
    color: #8892b0;
    counter-reset: counter;
}

span {
    /* color: #a8b2d1; */
    color: #ccd6f6;
}

span.fa-li {
    color:#64ffda;
}
.navbar a {
    font-family: "Roboto Mono", monospace;
    color: #ccd6f6;
}

.nav-link.btn {
    color: #64ffda;
}

.navbar-nav a:not(.btn)::before {
counter-increment: counter;
content: "0" counter(counter) ". ";
color: #64ffda;
}

.navbar-nav a:hover {
    color: #64ffda;
}

.nav-item.resume {
    border: 1px solid #64ffda;
    border-radius: 5px;
    padding: 0px 10px;
}

.nav-item.resume:hover {
    color: #64ffda;
    background-color: rgb(100, 255, 218, .1)
}

.fa-brands.fa-github {
    size: 50px;
    -webkit-text-fill-color: #0a192f;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(100, 255, 218)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
border-color: rgb(100, 255, 218);
}

.main-container {
    padding: 3%;
    position: relative;
}


#hero {
    height: 80vh;
    margin: 10vh 10vw 20vh;
}

h1 {
    color: #64ffda;
    font-family: "Roboto Mono";
    font-size: 20px;
}

h2 {
    color: #ccd6f6;
}

h2, h3 {
    font-weight: bold;
    font-size: clamp(40px, 8vw, 80px);
}

hr {
    display: block;
    height: 1px;
    border: 0; 
    border-top: 3px solid #64ffda;
    margin: 1em 0; padding: 0; 
    opacity: 1;
}

/* vertical-align: middle; */

hr.three-fourth {
    width: 75%;
}

hr.one-half {
    width: 50%;
}

hr.one-fourth {
    width: 25%;
}

#about {
    height: auto;
    margin: 10vh;
    padding: 0 10vw;
}

#about  a {
    text-decoration: none;
    color: #64ffda;
}

#about img {
    border-radius: 5px;
    max-width: 320px;
    min-width: 0px;
    /* brightness(15%) invert(92%) 
    filter:   invert(5%) sepia(99%) saturate(492%) hue-rotate(81deg) brightness(102%) contrast(104%); */

    box-shadow:
    20px 24px 0 0px #0a192f,
    22px 22px 0 0px #64ffda,
    22px 26px 0px 0px #64ffda,
    18px 26px 0 0px #64ffda;
}

#about img:hover {
    filter: none;
    box-shadow:
    12px 14px 0 0px #0a192f,
    14px 12px 0 0px #64ffda,
    14px 16px 0px 0px #64ffda,
    10px 16px 0 0px #64ffda;
}

#experience {
    height: 40vh;
    margin: 0vh 0;
    padding: 0 20vw;
}

#experience ul {
    list-style-type: none;
}

#experience ul button{
    padding: 10px;
    background-color: #0a192f;
    border: none;
    border-left: 2px solid white;
    color: #8892b0;
}

#projects {
    height: auto;
    margin: 10vh 10vw 20vh;
}

.project__1 {
    width: 100%;
    height: 60vh;
    background-image: url("../files/project1_screenshot.png");
    background-color:rgb(10, 18, 25);
    background-blend-mode: overlay;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.project__2 {
    width: 100%;
    height: 60vh;
    background-image: url("../files/project2_screenshot.png");
    background-color:rgb(10, 18, 25);
    background-blend-mode: overlay;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.project__desc {
    position: absolute;
    padding: 15px 15px;
    /* font-family: "Roboto Mono"; */
    /* background-color:  rgb(100, 255, 218, .1); */
    /* border-radius: 50%; */
    /* color: #003f91; */
    /* font-weight: bold; */
    /* top: 20%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.pd_featured {
    color: #64ffda;
}

.pd_title {
    font-size: 25px;
    font-weight: bold;
    padding: 3vh 0;
    color: #ccd6f6;
}




h4::before {
    counter-increment: counter;
    content: "0" counter(counter) ". ";
    color: #64ffda;
}

h4 {
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
    color: #ccd6f6;
}

hr.headerline {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    margin: 0em 1em; 
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
border-radius: 15px;
background-color: slategray;
}

/* Landing Animation*/
:root {
    --animate-duration: 200ms;
}

@media (min-width: 1200px) {
}